<li>
	<%= gravatar_for user %>
	<h3><%= link_to user.name, user %></h3>
	<%= link_to "Edit" , edit_user_path(user) %>
	<%= link_to "View Order", orders_path %>
	<%= link_to "delete", user, method: :delete, data: {confirm: "Ban muon xoa: #{user.name}?"}if !current_user?(user) && current_user.admin? %>
	
	
</li>
